[submodule "Challenges"]
	path = Challenges
	url = git@github.com:vasic-digital/Challenges.git
[submodule "Containers"]
	path = Containers
	url = git@github.com:vasic-digital/Containers.git
[submodule "HelixQA"]
	path = HelixQA
	url = git@github.com:vasic-digital/HelixQA.git
